# OS
.DS_Store
Thumbs.db

# Node / Next.js
node_modules/
.next/
out/
dist/
coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*
!.env.example

# Если фронт в подпапке
front/node_modules/
front/.next/
front/out/
front/dist/
front/coverage/
front/.env
front/.env.*
!front/.env.example
!front/.env.production.example
.vercel

# Системные файлы Windows
*.ini
NTUSER.*
AppData/
Contacts/
Desktop/
Downloads/
Favorites/
Links/
Music/
Videos/
Saved Games/
Searches/
*.LOG*
*.blf
*.regtrans-ms

# Кэши и временные файлы
.gradle/
.android/
.config/
.cursor/
.Ld9VirtualBox/
.logseq/
.next/
.skiko/
.ssh/
.vite/
.vscode/
Nox_share/
PCManger/
MediaGet2/
IntelGraphicsProfiles/
Creative Cloud Files Personal Account*/

# Данные, которые изменяются на сервере (не должны быть в репозитории)
front/src/data/products.json
front/src/data/gallery.json
front/prisma_data/
front/public/uploads/